:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --title-secondary-text-color: #ffffff;
  --primary-background-color: #e5e5e5;
  --accent-bg-color: #F5F4FA;
  --accent-color: #2196f3;
}
body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
a {
  text-decoration: none;
}
ul {
    list-style: none;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
} 


/* Стили для index.html */

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.title {
  margin: 0px;
  padding: 0px;
}

/* Header */
.page-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Logo */
.logo-header {
  display: block;

  font-family: Raleway, sans-serif;
  color: #212121;

  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-web-header {
  color: #2196f3;
}

/* Навигация */
.site-nav {
  padding: 0px;
  margin-left: 83px;
  display: flex;
}
.site-nav li:not(:last-child) {
  margin-right: 50px;
}

.site-nav a {
    color: #212121;
}
.site-nav .link {
  display: block;
  padding-top: 37px;
  padding-bottom: 30px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
.site-nav .link.current {
    color: #2196f3;
}

/* Контакты */
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts a {
  color: #212121;
}
.contacts .tipe + .tipe {
  margin-left: 30px;

}
.contacts .tipe:hover,
.contacts .tipe:focus { 
  color: #2196f3;
}

/* Герой */

.hero {
  text-align: center;
  margin-bottom: 94px;
}
.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-secondary-text-color);
}
.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;

  background-color: var(--accent-color);
  color: var(--title-secondary-text-color);

  font-size: 16px;
  line-height: 30px;
  min-width: 200px;
  height: 50px;
  letter-spacing: 0.06em; 
  align-items: center;
  text-align: center;
}

/* Секции */
.section{
  margin-bottom: 94px;
  margin-top: 0px;
  padding: 0px;
}
.section-title {
  padding: 0px;
  margin-bottom: 50px;
  margin-top: 0px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* Секция Приемущества */
.invisible-title {
    display: none;
}
.advantages-list {
  padding: 0px;
  margin: 0px;
}
.advantages-logo {
  margin-bottom: 30px;
}
.advantages-list .title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.advantages-text {
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Секция Деятельность */
.ativity-list {
  padding: 0px;
  margin: 0px;
}
.ativity-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-secondary-text-color);
}

/* Секция Команда */
.team-list {
  padding: 0px;
  margin: 0px;
}
.section.team {
  background-color: #F5F4FA;
}
.section-title.team {
  padding-top: 40px;
}
.team-photo {
  margin-bottom: 30px;
}
.team-list .title {
  padding: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-text {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

/* Секция Постоянные клиенты */
.client-list {
  padding: 0px;
  margin: 0px;
}

/* Футтер */
.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
  }
  .logo-web-footer {
    color: #2196f3;
  }
  .tipe-address {
      color: #ffffff;
  }
  .footer-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-secondary-text-color);
  }
  .social-link {
    color: #ffffff;
  }
  .social-link:hover,
  .social-link:focus {
      color: #2196f3;
  }
  
  /* Стили для portfolio.html */

  .portfolio-header {
    margin-bottom: 94px;
  }

  /* Секция */
  .projects-button {
    margin-top: 0px;
    margin-bottom: 34px;
    padding: 0px;
  }
  .projects {
    padding: 0px;
    margin: 0px;
  }

  .radio-button {
    background-color: #F5F4FA;
    color: #212121;
  }
  .radio-button:hover,
  .radio-button:focus {
    background-color: #2196f3;
    color: #ffffff;
  }
  .projects-img {
    display: block;
    padding: 0px;
    margin-bottom: 20px;
  }
  .project-title {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
  }
  .text-secondary {
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--title-secondary-text-color);
  }
  .text-primary {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }